.navbar-search {
  transform: translateX(30%);
}

/* ======= Toast message ======== */

#toast-js {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 9999999999999999999;
}

.toast-js {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success-js {
  border-color: #47d864;
}

.toast--success-js .toast__icon-js {
  color: #47d864;
}

.toast--error-js {
  border-color: #ff623d;
}

.toast--error-js .toast__icon-js {
  color: #ff623d;
}

.toast-js + .toast-js {
  margin-top: 24px;
}

.toast__icon-js {
  font-size: 24px;
}

.toast__icon-js,
.toast__close-js {
  padding: 0 16px;
}

.toast__body-js {
  flex-grow: 1;
}

.toast__title-js {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg-js {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close-js {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
